<div class="container-fluid" ng-controller="HeaderCtrl as ctrl">
  <div class="row header">
    <div class="col-sm-4">
      <img src="images/logo.png" class="img-header" alt="Q-Meeting Logo"/>
    </div>
    <div class="col-sm-8 text-right user hidden-xs">
      <ul class="nav navbar-nav navbar-right ">
        <li>
          <a href="#"><span class="glyphicon glyphicon-user"></span> {{ctrl.user_name}}</a>
        </li>
        <li>
          <a href="#" ng-click="ctrl.logout()"><span class="glyphicon glyphicon-log-out" id="sign-out"></span> Sign out</a>
        </li>
      </ul>
    </div>
  </div>
  <div class="row visible-xs">
    <nav class="navbar navbar-default navbar-custom">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>                        
        </button>
        <a class="navbar-brand visible-xs" href="#"><span class="glyphicon glyphicon-user"></span> {{ctrl.user_name}}</a>
      </div>
      <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav menu">
          <li class="active"><a href="#">Manage Venues</a></li>
          <li><a href="#">Configurations</a></li>
          <li class="visible-xs">
            <a href="#"><span class="glyphicon glyphicon-log-out" id="sign-out"></span> Sign out</a>
          </li>
        </ul>
      </div>
    </nav>
  </div>
  <br />
</div>